// Color variable
$primary-color: #89DA59;
$secondary-color: #80BD9E;
$third-color: #FF420E;
$fourth-color: #F98866;

// Width screen variable
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 768px)";

a{
  text-decoration: none;
}

.App {
  width: 100%;
}

.container{
  margin: 0 auto;
  width: 100%;
  @media #{$desktop} {
    width: 360px;
  }

}

.navigation{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  &--sum{
    background-color: $primary-color;
  }
  &--multiply{
    background-color: $secondary-color;
  }
  &--prime{
    background-color: $third-color;
  }
  &--fibonacci{
    background-color: $fourth-color;
  }
  h2{
    margin: 0;
  }
}

//Not found style
.no-match{
  height: 100vh;
  background-color: $third-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  h1{
    margin: 0;
  }
  a{
    color: inherit;
    font-size: 18px;
    background-color: $fourth-color;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
  }
}


