// Color variable
$primary-color: #89DA59;
$secondary-color: #80BD9E;
$third-color: #FF420E;
$fourth-color: #F98866;

// Width screen variable
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 768px)";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@mixin custom-color() {
  &--sum{
    background-color: $primary-color;
  }
  &--multiply{
    background-color: $secondary-color;
  }
  &--prime{
    background-color: $third-color;
  }
  &--fibonacci{
    background-color: $fourth-color;
  }
  &--black{
    background-color: white;
    color: #000;
  }
}

@mixin padding-lr(){
  padding-left: 15px;
  padding-right: 15px;
}

a{
  text-decoration: none;
}

.App {
  width: 100%;
}

.container{
  margin: 0 auto;
  width: 100%;
  @media #{$desktop} {
    width: 360px;
  }

}

.navigation{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  @include padding-lr();
  @include custom-color();
  h2{
    margin: 0;
  }
}

//Content style
.content{
  @include custom-color();
  @include padding-lr();
  color: white;
  font-size: 17px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  h1{
    flex-grow: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .content__container{
    flex-grow: 2;
  }
  .content__button{
    flex-grow: 0;
    padding-bottom: 35px;
    text-align: center;
  }
}

.tagline{
  display: block;
  text-align: center;
}

.summary{
  display: flex;
  height: 94%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .summary__top{
    input{
      width: 50px;
      height: 50px;
      padding: 10px;
      border: 0px;
      font-size: 25px;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .operator{
      margin-left: 15px;
      margin-right: 15px;
      font-size: 35px;
    }
  }

  .summary__bottom{
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    .result{
      font-size: 22px;
      font-weight: bold;
    }
  }
}

.button{
  color: inherit;
  font-size: 18px;
  padding: 15px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 50px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  @include custom-color();
  &--operation{
    padding: 5px 25px;
    background-color: white;
    display: block;
    color: black;
    text-align: center;
    margin-bottom: 15px;
  }
}


//Not found style
.no-match{
  height: 100vh;
  background-color: $third-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  h1{
    margin: 0;
  }
}


